.front
    background: #9cc279 url('/assets/images/background_small_FHD.png') no-repeat center
    background-size: cover
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    .content
        flex-flow: column wrap
        align-items: center
        justify-content: center
        margin-top: 100px
        h2
            font-family: 'Fondamento', cursive
            font-weight: 600
            margin: 0
            padding: 0
            letter-spacing: -1px
            align-items: flex-start
            color: #dde7e6
            -webkit-text-stroke: 1px #F8F8F8
            text-shadow: 0px 1px 4px #5a9778
            font-size: 12vw
            +min(1)
                font-size: 12vw
                letter-spacing: -3px 
            +min(2)
                font-size: 7.4rem
                margin: 0 0 0.9vw
                letter-spacing: -5px
            +min(3)
                font-size: 10rem
            span
                display: block
                font-size: 1.4rem
                letter-spacing: -1px
                +min(1)
                    font-size: 2rem
                +min(2)
                    font-size: 2.6rem
                    margin-right: 10px
                    display: inline
                +min(3)
                    font-size: 2.8rem

        div
            display: flex
            flex-wrap: wrap
            align-items: center
            justify-content: center
            p
                width: 100%
                text-align: center
                margin: rem(15px) 0 rem(30px)
                // color: scheme.heading
                color: #dde7e6
                -webkit-text-stroke: 1px #F8F8F8
                text-shadow: 0px 1px 4px scheme.heading //#5a9778
                line-height: 1.2
                font-size: 1.4rem
                +min(1)
                    font-size: 2rem
                    margin: 0 0 rem(80px)
                +min(2)
                    font-size: 2.6rem
                +min(3)
                    font-size: 2.8rem
            div
                display: flex
                flex-flow: row wrap
                justify-content: center
                width: 100%
                +min(1)
                    width: auto
                a
                    button(large, color: #5a9778)
                    margin: rem(8px) 0
                    min-width: 60%
                    +min(1)
                        min-width: auto
                        font-size: 1.2rem
                        margin: 0
                        padding: rem(16px) rem(35px)
                        &:first-of-type
                            margin-right: rem(14px)
                    +min(2)
                        font-size: 1.25rem
                        padding: rem(17px) rem(36px)
                    +min(3)
                        font-size: 1.32rem
                        padding: rem(18px) rem(38px)
    .bird
        align-self: flex-start
        animation: animationFrames ease 2s
        animation-iteration-count: infinite
        transform-origin: 50% 50%
        animation-fill-mode: forwards //when the spec is finished
        margin-left: 5%
        margin-top: 10px;
        +min(2)
            margin-left: 20%
            margin-top: 0
        img
            width: 180px

@keyframes animationFrames
    0%
        transform translate(0px,0px)
    25%
        transform translate(0px,-1px)
    50%
        transform translate(-1px,-1px)
    75%
        transform translate(-1px,0px)
    100%
        transform translate(0px,0px)
