.section-3
    .content
        align-items: center
        +max(1)
            flex-direction: column
        +max(2)
            width: 80%
            justify-content: center
        +min(1)
            flex-wrap: wrap
        +min(2)
            justify-content: space-between
        a
            width: 100%
            display: flex
            align-items: center
            +max(1)
                flex-direction: column
                &:not(:last-of-type)
                    margin-bottom: 40px
            +min(1)
                margin: rem(30px) 0
            +min(2)
                width: 47%
                min-width: rem(420px)
                margin: rem(32px) 0
                justify-content: space-between
            +min(3)
                width: rem(550px)
                margin: rem(28px) 0
            // &:hover
                // background-color: scheme.footer.background
            &:hover
                article
                    h3, p
                        color: lighten(_25, 7%)// hsl(0,0%,80%) -> hsl(0,0%,10%)
            &:hover
                figure
                    background: lighten(scheme.footer.vector, 7%) //hsl(0,0%,10%) // scheme.footer.vector;
                    // svg
                    //     .bg-gray
                    //         fill: hsl(0,0%,10%)
            figure
                width: 100px
                height: 100px
                background-color: scheme.footer.vector
                display: grid
                place-items: center
                border-radius: 50%
                flex-shrink: 0
                margin: 20px
                +min(2)
                    padding: rem(15px)
                svg
                    // size(rem(130px))
                    +min(1)
                        width: 70%
                        height: 70%
                    // +max(2)
                    //     min-width: 100px
                    //     min-height: @min-width
                    +min(2)
                        width: 100%
                        height: 70%
                    // .bg-gray
                        // fill: //scheme.footer.vector // #404040 // hsl(0,0%,25.1%) -> hsl(0,0%,10%) 
            article
                +max(1)
                    margin-top: 20px
                    text-align: center
                +min(1)
                    width: 70%
                +between(1, 2)
                    margin-left: rem(10px)
                +min(2)
                    width: 65%
                h3
                    font-size: 2.5rem
                    letter-spacing: -1px
                    margin: 0 0 7px
                    +min(1)
                        font-size: 2.2rem
                        font-weight: 600
                        margin: 0 0 0.3rem
                        letter-spacing: normal
                    +min(2)
                        font-size: 2rem
                        letter-spacing: -1px
                        margin: 0 0 0.5rem
                    +min(3)
                        font-size: 2.6rem
                p
                    font-size: 1.1rem
                    line-height: 1.3
                    margin: 0
