footer(
    class="footer-2"
    role="contentinfo"
    itemscope
    itemtype="https://schema.org/WPFooter")

    div

        div

            ul

                li: a(href="https://www.malakfe.fr/") Malakfé
                li: a(href="http://www.ffjdr.org/") FFJDR
                li: a(href="https://antre.fr/") Antre
                li: a(href="http://forum.opale-roliste.com/") Opale Rôliste
                li: a(href="http://alcyon-jdr.com/") Alcyon
                li: a(href="https://www.lacellule.net/") La Cellule

        div

            p.
            


            Copyright © 2020 Les Histographistes. Graphisme par Dallo.

        div

            table(class="vcard")

                thead

                    tr

                        th(colspan="2" class="org") Les Histographistes

                tbody

                    tr
                        td: svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-address")
                        td(class="street-address") 137 bd Gabriel Péri

                    tr
                        td
                        td(class="locality") Malakoff

                    tr
                        td
                        td(class="postal-code") 92240

                    tr
                        td
                        td(class="country-name") France

                    tr
                        td: svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-phone")
                        td(class="tel"): a(href="tel:0679678646") (+33) 679678646

                    tr
                        td: svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-location")
                        td: a(href="https://www.openstreetmap.org/search?query=48.81993%2C2.31021") 48&deg;40'32.344"S 2&deg;22'6.678"E

        //- div

        //-     ul