head

    meta(charset="utf-8")

    block description
        meta(name="description" content="Site officiel de l'association Les Histographistes.")

    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, minimum-scale=0.5")
    meta(name="generator" content="Platframe")

    title= pageTitle || "Les Histographistes"

    block links
        - if (ENV === 'production')
            link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,700&display=swap")
            link(href="https://fonts.googleapis.com/css2?family=Fondamento&display=swap" rel="stylesheet" type="text/css" crossorigin="anonymous")
        link(rel="stylesheet" href=`/assets/styles/root.css?v=${ TIME }`)
        link(rel="icon" type="image/svg+xml" sizes="any" href="/assets/images/global/_link/favicon.svg")
        link(rel="manifest" href="/assets/images/global/_link/site.webmanifest")

    block scripts
        script(defer src=`/assets/logic/js/root.js?v=${ TIME }`)
