footer(
    class="footer-1"
    role="contentinfo"
    itemscope
    itemtype="https://schema.org/WPFooter")

    div

        div

            ul

                li
                    a(href="#") Lorem ipsum
                li
                    a(href="#") Laudantium
                li
                    a(href="#") Sit amet
                li
                    a(href="#") Dolorem eum
                li
                    a(href="#") Consequatur
                li
                    a(href="#") Pariatur
                li
                    a(href="#") Adipisci velit

        div

            h2 Productum Tractus

            ul

                li.rollover
                    svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-1-rollover")
                    span Caption #[br]01
                li.rollover
                    svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-1-rollover")
                    span Caption #[br]02
                li.rollover
                    svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-1-rollover")
                    span Caption #[br]03
                li.rollover
                    svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-1-rollover")
                    span Caption #[br]04
                li.rollover
                    svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-1-rollover")
                    span Caption #[br]05

        div(itemscope itemtype="http://schema.org/LocalBusiness")

            table

                thead
                    tr: th(colspan="2" class="org" translate="no" itemprop="name") Les Histographistes

                tbody(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress")

                    tr
                        td: svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-1-address")
                        td(itemprop="streetAddress" translate="no") 137 bd Gabriel Péri
                    tr
                        td
                        td(itemprop="addressLocality") Malakoff
                    tr
                        td
                        td(itemprop="postalCode") 92240
                    tr
                        td
                        td(itemprop="addressCountry") France
                    tr
                        td: svg: use(use xlink:href="/assets/images/_sprites/symbols.svg#footer-1-phone")
                        td: a(href="tel:0679678646" itemprop="telephone") (+33) 679678646
                    tr
                        td: svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-1-location")
                        td: a(href="https://www.openstreetmap.org/search?query=48.81993%2C2.31021" itemprop="maps") 48&deg;40'32.344"S 2&deg;22'6.678"E
