section(class="canvas section-3" id="section-3")

    h2 Créations

    div(class="content")

        //- a(href="#" title="wiki")
        //-     figure
        //-         img(src="images/home/section-3/bookmarklet.svg" inline)

        //-     article

        //-         h3 Wiki
        //-         p.
        //-             C'est dans ce wiki que le lore écrit par les Histographistes est hébergé.

        a(href="https://brutal.histographistes.com/" title="Brutal")
            figure
                img(src="images/home/section-3/blade-drag.svg" inline)

            article

                h3 Brutal
                p.
                    Brutal est un utilitaire permettant de calculer l'attaque et les dégâts des armes de mélées.

        a(href="https://partypicture.histographistes.com" title="Party Picture")
            figure
                img(src="images/home/section-3/cowled.svg" inline)

            article

                h3 Party Picture
                p.
                    Party Picture est un outil utilisé pour faire des pages d'identification des protagonistes d'une chronique.

        a(href="https://inicard.histographistes.com" title="Inicard")
            figure
                img(src="images/home/section-3/card-draw.svg" inline)

            article

                h3 Inicard
                p.
                    Inicard est générateur de deck à imprimer pour traquer l'initative sur papier.

        a(href="https://karaktero.histographistes.com/" title="Karaktero")
            figure
                img(src="images/home/section-3/woman-elf-face.svg" inline)

            article

                h3 Karaktero
                p.
                    Un générateur et un constructeur de personnage de Pathfinder niveau 1.

        a(href="https://kalkulilo.histographistes.com" title="Kalkulilo")
            figure
                img(src="images/home/section-3/skills.svg" inline)

            article

                h3 Kalkulilo
                p.
                    Un calculateur pour définir des caractéristiques via la méthode d'achat de points de Pathfinder.

    +nav-1("front", "prev")
