section(class="canvas section-2" id="section-2")

    h2 Actvités

    div(class="content")

        div

            img(src="images/home/section-2/calendar.svg" inline)

            article

                h2 Jeu
                p.
                    Les Histographistes organisent une session-jeu, tous les dimanches de 14h à 19h. Selon la disponibilité des adhérents, l'horaire peut varier.

        div

            img(src="images/home/section-2/team-upgrade.svg" inline)

            article

                h2 Partage
                p.
                    Nous organisons des évenèments et des formations autour du jeu de rôle, du rôle du joueur, de celui de Maître du Jeu et plus encore. 

    +nav-1("section-3")
