section(class="canvas section-1" id="section-1")

    h2 Présentation

    div(class="content")

        div

            img(src="images/home/section-1/_inline/image.svg" inline)

            article

                h2 Jeu de rôle

                p.
                    Un jeu de rôle est une technique ou activité, par laquelle une personne interprète le rôle d'un personnage (réel ou imaginaire) dans un environnement fictif. Le participant agit à travers ce rôle par des actions physiques ou imaginaires, par des actions narratives (dialogues improvisés, descriptions, jeu) et par des prises de décision sur le développement du personnage et de son histoire. 

    +nav-1("section-2")
